<div class="grid gap-2 grid-cols-4 max-w-sm mx-auto mt-10">
  <div class="col-span-4 text-center">
    <h2 class="font-bold text-2xl text-center mt-10">Gym Exercise Library</h2>
    <span>Browse 5000+ exercises</span>
  </div>
  <div class="grid gap-4 mt-10">
    <div>
      <%= image_tag "Dumbbell-Lying-Elbow-Press_Triceps_small.png", class: "small-image", alt: "gallery-photo" %> 
    </div>
    <div>
      <%= image_tag "Dumbbell-Lying-One-Arm-Press-II_Chest_small.png", class: "small-image", alt: "gallery-photo" %> 
    </div>
    <div>
      <%= image_tag "Dumbbell-Neutral-Grip-Bench-Press_Upper-Arms_small.png", class: "small-image", alt: "gallery-photo" %> 
    </div>
  </div>
  <div class="grid gap-4 mt-10">
    <div>
      <%= image_tag "Dumbbell-Seated-Palms-Up-Wrist-Curl_Forearms_small.png", class: "small-image", alt: "gallery-photo" %> 
    </div>
    <div>
      <%= image_tag "Dumbbell-Seated-One-Leg-Calf-Raise_calves_small.png", class: "small-image", alt: "gallery-photo" %> 
    </div>
    <div>
      <%= image_tag "Dumbbell-Seated-Inner-Biceps-Curl_Upper-Arms_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
  </div>
  <div class="grid gap-4 mt-10">
    <div>
      <%= image_tag "Dumbbell-Rotation-Reverse-Fly_Shoulders_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
    <div>
      <%= image_tag "Dumbbell-One-Arm-Shoulder-Press_Shoulders_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
    <div>
      <%= image_tag "Dumbbell-One-Arm-Concetration-Curl-(on-stability-ball)_Upper-Arms_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
  </div>
  <div class="grid gap-4 mt-10">
    <div>
      <%= image_tag "Dumbbell-Over-Bench-One-Arm-Wrist-Curl_Forearms_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
    <div>
      <%= image_tag "Dumbbell-One-Arm-Reverse-Fly-(with-support)_Shoulders_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
    <div>
      <%= image_tag "Dumbbell-One-Arm-Lateral-Raise_Shoulders_small.png", class: "small-image", alt: "gallery-photo" %>    
    </div>
  </div>
</div>

<style>
  .small-image {
  @apply aspect-square object-cover rounded-lg;
}

</style>
