<div id="<%= dom_id exercise %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= exercise.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Instructions:</strong>
    <%= exercise.instructions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise type:</strong>
    <%= exercise.exercise_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is favorite:</strong>
    <%= exercise.is_favorite %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Num exercise:</strong>
    <%= exercise.num_exercise %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= exercise.user_id %>
  </p>

</div>
